<div class="container">
  <h3>Form Transaksi</h3>
  <hr>

  <form action="/transaksi/add" method="post">
      Pilih Member
      <select name="id_member" class="form-control mb-3" required>
          <option value="">-- Pilih Member --</option>
          <% dataMember.forEach(element=> { %>
              <option value="<%= element.id %>">
                  <%= element.nama_member %>
              </option>
              <% }) %>
      </select>

      Tanggal Transaksi
      <input type="date" name="tgl_transaksi" class="form-control mb-3" value="<%= tgl_transaksi %>" required>

      <!-- Button trigger modal -->
      <button type="button" class="btn text-white btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalTelur">
          Tambah Pilihan Telur
      </button>
      <br><br>

      <!-- tampilin isi cart-nya-->
      <h5>
          List Cart Telur
      </h5> 
      <hr>
      <ul class="list-group">
          <% cart.forEach(element=> { %>
              <li class=" list-group-item row">
                  <div class="row">
                      <!-- area utk nama telur  -->
                      <div class="col-lg-3">
                          <small>Jenis Telur</small>
                          <h6>
                              <%= element.jenis_telur %>
                          </h6>
                      </div>

                      <!-- area jml beli -->
                      <div class="col-lg-3">
                          <small>Jumlah Telur/Kg</small>
                          <h6>
                              <%= element.jumlah_telur %>
                          </h6>
                      </div>

                      <!-- area harga satuan -->
                      <div class="col-lg-3">
                          <small>Harga Telur</small>
                          <h6>
                              <%= element.harga_telur %>
                          </h6>
                      </div>

                      <!-- area harga satuan -->
                      <div class="col-lg-3">
                          <small>Nama Packaging</small>
                          <h6>
                              <%= element.nama_pack %>
                          </h6>
                      </div>

                      <!-- area harga satuan -->
                      <div class="col-lg-3">
                          <small>Jumlah Pack</small>
                          <h6>
                              <%= element.jumlah_pack %>
                          </h6>
                      </div>

                      <!-- area harga satuan -->
                      <div class="col-lg-3">
                          <small>Harga Pack</small>
                          <h6>
                              <%= element.harga_pack %>
                          </h6>
                      </div>

                      <!-- harga total -->
                      <div class="col-lg-3">
                          <small>Total</small>
                          <h6>
                              <%= element.harga_telur * element.jumlah_telur + element.harga_pack *
                                  element.jumlah_pack %>
                          </h6>
                      </div>

                      <!-- area hapus -->
                      <div class="col-lg-1">
                          <a href="/cart/<%= element.id_telur%>">
                              <button type="button" class="btn btn-danger m-2">
                                  &times;
                              </button>
                          </a>
                      </div>
                  </div>
              </li>
              <% }) %>
      </ul>

      <!-- button simpan -->
      <% if (cart.length> 0) { %>
          <button type="submit" class="btn  btn-success mt-2">
              Simpan Transaksi
          </button>
          <% } %>

  </form>
</div>

<!-- Modal (pop up) telur-->

<!-- Modal -->
<div class="modal fade" id="modalTelur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Telur
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="/cart" method="post">
                  Pilih Jenis Telur
                  <select name="id_telur" class="form-control mb-2" required onchange="pilihTelur(this.value)">
                      <option value="">-- Pilih Jenis Telur --</option>
                      <% dataTelur.forEach(element=> { %>
                          <option value="<%= element.id %>">
                              <%= element.jenis_telur %>
                          </option>
                          <% }) %>
                  </select>

                  Jumlah Telur
                  <input type="number" name="jumlah_telur" id="jumlah_telur" class="form-control mb-2" required
                      min="1" onchange="hitungTotal()" onkeyup="hitungTotal()">

                  Harga Telur/Kg
                  <input id="harga_telur" type="number" name="harga_telur" class="form-control mb-2" required
                      readonly>

                  Pilih Packaging
                  <select name="id_pack" class="form-control mb-2" required onchange="pilihPack(this.value)">
                      <option value="">-- Pilih Packaging --</option>
                      <% dataPack.forEach(element=> { %>
                          <option value="<%= element.id %>">
                              <%= element.nama_pack %>
                          </option>
                          <% }) %>
                  </select>

                  Jumlah Packaging
                  <input type="number" name="jumlah_pack" id="jumlah_pack" class="form-control mb-2" required min="1"
                      onchange="hitungTotal()" onkeyup="hitungTotal()">

                  Harga Packaging
                  <input type="number" name="harga_pack" id="harga_pack" class="form-control mb-2" required readonly>

                  Total
                  <input type="number" name="total" id="total" class="form-control mb-2" required readonly />

                  <button type="submit" class="btn w-100 text-white bg-warning">
                      Tambahkan Pembelian
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>

<script>
  function pilihTelur(id) {
      /** dapatin data obat bertioe string dan kita kembalikan
       *  ke bentuk array object 
       */
      let telur = JSON.parse(`<%- dataTelurString %>`)

      /** mencari data obat berdasarkan id yang dipilih */
      let selectedTelur = telur.find(item => item.id == id)

      /** ambil data harga */
      let harga_telur = selectedTelur.harga

      /** set value dari harga_beli -> harga telur yang dipilih */
      document.getElementById(`harga_telur`).value = harga_telur

      /** dapatin nilai dari jumlah_beli */
      let jumlah_telur = Number(document.getElementById(`jumlah_telur`).value)


  }

  function pilihPack(id){
      let pack = JSON.parse(`<%- dataPackString %>`)

      /** mencari data obat berdasarkan id yang dipilih */
      let selectedPack = pack.find(item => item.id == id)

      /** ambil data harga */
      let harga_pack= selectedPack.harga

      /** set value dari harga_beli -> harga obat yang dipilih */
      document.getElementById(`harga_pack`).value = harga_pack

      let jumlah_pack = Number(document.getElementById(`jumlah_pack`).value)
  }
  function hitungTotal() {
      let harga_telur= Number(document.getElementById(`harga_telur`).value)
      let harga_pack= Number(document.getElementById(`harga_pack`).value)

      // jumlah
      let jumlah_telur= Number(document.getElementById(`jumlah_telur`).value)
      let jumlah_pack= Number(document.getElementById(`jumlah_pack`).value)

      //hitung total
      let total = jumlah_telur * harga_telur + jumlah_pack*harga_pack

      //tempelin ke input total
      document.getElementById(`total`).value = total
  }
</script>
</form>
</div>