<div class="container">
    <h3>List Transaksi</h3>
    <hr>

    <ul class="list-group">
        <% transaksi.forEach(element => { %>
         <li class="list-group-item">
            <div class="row">
                <!-- area no faktur-->
                <div class="col-lg-2">
                    <small>No. Faktur</small>
                    <h5><%= element.no_faktur %></h5>
                </div>

                <!-- area tgl transaksi-->
                <div class="col-lg-3">
                    <small>Tgl. Transaksi</small>
                    <h5><%= element.tgl_transaksi %></h5>
                </div>

                <!-- area nama member-->
                <div class="col-lg-3">
                    <small>Nama Member</small>
                    <h5><%= element.nama_member %></h5>
                </div>
                
                <!-- area nama admin-->
                <div class="col-lg-3">
                    <small>Nama Admin</small>
                    <h6>
                        <%= element.nama_admin %>
                    </h6>
                </div>
                
                <!-- area output/tombol hapus -->
                <div class="col-lg-1">
                    <a href="/transaksi/<%= element.id %>">
                      <button class="btn btn-sm btn-danger">
                          &times;
                      </button>
                    </a>
                </div>
            </div>
            <h5 class="mt-2">Daftar Pembelian</h5>
            <ul class="liat-group">
                <% element.detail.forEach(item => { %>
                  <li class="list-group-item">
                    <div class="row">
                        <!-- area untuk nama telur -->
                        <div class="col-lg-4">
                            <small class="text-info">Nama Telur</small>
                            <h6 class="fst-italic"><%= item.jenis_telur %></h6>
                        </div>
                        
                        <!-- area untuk harga -->
                        <div class="col-lg-3">
                            <small class="text-info">Harga</small>
                            <h6 class="fst-italic"><%= item.harga_telur %></h6>
                        </div>

                        <!-- area untuk jumlah beli -->
                        <div class="col-lg-2">
                            <small class="text-info">Qty</small>
                            <h6 class="fst-italic"><%= item.jumlah_telur %></h6>
                        </div>

                        <!-- area untuk total -->
                        <div class="col-lg-3">
                            <small class="text-info">Total</small>
                            <h6 class="fst-italic"><%= item.jumlah_telur * item.harga_telur %></h6>
                        </div>
                    </div>
                  </li>
                <% }) %>
            </ul>
        </li>
        <% }) %>
    </ul>
</div>